body{
    margin: 10px;
    background-color: rgb(212, 212, 252);
}
h1{
    color: rgb(44, 44, 145);
    text-align: center;
}
.grid{
    background-color: aqua;
    color: rgb(9, 122, 122);
    width: 100px;
    height: 100px;
}
.all{
    display: grid;
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(3, 100px); 
    gap: 20px ; 
}